In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

Trek

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

specialized

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = f"My first bicycle was a {bicycles[0].title()}"

print(message)

My first bicycle was a Trek

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles =[]

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']

last_owned = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}")

The last motorcycle I owned was a Suzuki

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']

first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}")

The first motorcycle I owned was a Honda

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki

In [ ]:
motorcycles = []
print(motorcycles[-1])

IndexError: ignored

Try It Yourself

In [ ]:
friendsname = ['john', 'tom', 'mark', 'sam']
print(friendsname)

['john', 'tom', 'mark', 'sam']

In [ ]:
friendsname = ['john', 'tom', 'mark', 'sam']
message_template = "Hello, {}! Thank you for being my friend."

for name in friendsname:
    personalized_message = message_template.format(name.capitalize())
    print(personalized_message)

Hello, John! Thank you for being my friend.
Hello, Tom! Thank you for being my friend.
Hello, Mark! Thank you for being my friend.
Hello, Sam! Thank you for being my friend.

In [ ]:
transportation_list = ['motorcycle', 'car', 'bicycle', 'scooter', 'helicopter']

for item in transportation_list:
    if item == 'motorcycle':
        print("I would like to own a Ducati motorcycle.")
    elif item == 'car':
        print("I would like to own a Tesla car.")
    elif item == 'bicycle':
        print("I enjoy riding my mountain bicycle.")
    elif item == 'scooter':
        print("A Vespa scooter would be a fun way to get around.")
    elif item == 'helicopter':
        print("Traveling by helicopter would be an incredible experience.")

I would like to own a Ducati motorcycle.
I would like to own a Tesla car.
I enjoy riding my mountain bicycle.
A Vespa scooter would be a fun way to get around.
Traveling by helicopter would be an incredible experience.

In [ ]:
guest_list = ['Tokiya Mizoguchi', 'Keisuke Shimazaki', 'Aoi Inagaki']

for guest in guest_list:
    print(f"Dear {guest},\nYou are cordially invited to join us for dinner at my place. It would be an honor to have your company.\n\nSincerely, [Taichi Komai]")

Dear Tokiya Mizoguchi,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Sincerely, [Taichi Komai]
Dear Keisuke Shimazaki,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Sincerely, [Taichi Komai]
Dear Aoi Inagaki,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Sincerely, [Taichi Komai]

In [ ]:
guest_list = ['Tokiya Mizoguchi', 'Keisuke Shimazaki', 'Aoi Inagaki']

guest_cant_make_it = 'Tokiya Mizoguchi'

print(f"Unfortunately, {guest_cant_make_it} can't make it to dinner.")

guest_list.remove(guest_cant_make_it)
new_guest = 'Isaac Newton'
guest_list.append(new_guest)

for guest in guest_list:
    print(f"Dear {guest},\nYou are cordially invited to join us for dinner at my place. It would be an honor to have your company.\n")

print(f"We have a new guest, {new_guest}, who will be joining us for dinner.")

Unfortunately, Tokiya Mizoguchi can't make it to dinner.
Dear Keisuke Shimazaki,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Dear Aoi Inagaki,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Dear Isaac Newton,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

We have a new guest, Isaac Newton, who will be joining us for dinner.

In [ ]:
guest_list = ['Tokiya Mizoguchi', 'Keisuke Shimazaki', 'Aoi Inagaki']

guest_cant_make_it = 'Tokiya Mizoguchi'


print(f"Unfortunately, {guest_cant_make_it} can't make it to dinner.")

guest_list.remove(guest_cant_make_it)
new_guest = 'Nanami Tsuta'
guest_list.append(new_guest)

print("Great news! I found a bigger table for dinner.")

guest_list.insert(0, 'Shunsei Ishikawa')
guest_list.insert(len(guest_list) // 2, 'Caroline Lafon')
guest_list.append('Chloe Baker')

for guest in guest_list:
    print(f"Dear {guest},\nYou are cordially invited to join us for dinner at my place. It would be an honor to have your company.\n")

Unfortunately, Tokiya Mizoguchi can't make it to dinner.
Great news! I found a bigger table for dinner.
Dear Shunsei Ishikawa,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Dear Keisuke Shimazaki,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Dear Caroline Lafon,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Dear Aoi Inagaki,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Dear Nanami Tsuta,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Dear Chloe Baker,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

In [ ]:
guest_list = ['Tokiya Mizoguchi', 'Keisuke Shimazaki', 'Aoi Inagaki', 'Nanami Tsuta', 'Caroline Lafon', 'Chole Baker']

guest_cant_make_it = 'Tokiya Mizoguchi'

print(f"Unfortunately, {guest_cant_make_it} can't make it to dinner.")

guest_list.remove(guest_cant_make_it)
new_guest = 'Ai Kanzaki'
guest_list.append(new_guest)

print("Great news! I found a bigger table for dinner.")

guest_list.insert(0, 'Airi Sasaki')
guest_list.insert(len(guest_list) // 2, 'Miku Hatsune')
guest_list.append('Minami Minegishi')

print("Unfortunately, the new dinner table won't arrive in time, so I can invite only two people for dinner.")

while len(guest_list) > 2:
    removed_guest = guest_list.pop()
    print(f"Sorry, {removed_guest}, I can't invite you to dinner.")

for guest in guest_list:
    print(f"Dear {guest},\nYou are cordially invited to join us for dinner at my place. It would be an honor to have your company.\n")

del guest_list[-2:]

print("Guest list after removing the last two names:", guest_list)

Unfortunately, Tokiya Mizoguchi can't make it to dinner.
Great news! I found a bigger table for dinner.
Unfortunately, the new dinner table won't arrive in time, so I can invite only two people for dinner.
Sorry, Minami Minegishi, I can't invite you to dinner.
Sorry, Ai Kanzaki, I can't invite you to dinner.
Sorry, Chole Baker, I can't invite you to dinner.
Sorry, Caroline Lafon, I can't invite you to dinner.
Sorry, Nanami Tsuta, I can't invite you to dinner.
Sorry, Miku Hatsune, I can't invite you to dinner.
Sorry, Aoi Inagaki, I can't invite you to dinner.
Dear Airi Sasaki,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Dear Keisuke Shimazaki,
You are cordially invited to join us for dinner at my place. It would be an honor to have your company.

Guest list after removing the last two names: []

In [ ]:
places_to_visit = ['Tokyo', 'Paris', 'Seoul', 'New York City', 'Machu Picchu']

print("Original Order:")
print(places_to_visit)

print("\nAlphabetical Order:")
print(sorted(places_to_visit))

print("\nOriginal Order (after sorted() without modification):")
print(places_to_visit)

print("\nReverse Alphabetical Order:")
print(sorted(places_to_visit, reverse=True))

places_to_visit.reverse()

print("\nChanged Order (after reverse()):")
print(places_to_visit)

places_to_visit.reverse()

print("\nOriginal Order (after reverse() twice):")
print(places_to_visit)

places_to_visit.sort()

print("\nAlphabetical Order (after sort()):")
print(places_to_visit)

places_to_visit.sort(reverse=True)

print("\nReverse Alphabetical Order (after sort(reverse=True)):")
print(places_to_visit)

Original Order:
['Tokyo', 'Paris', 'Seoul', 'New York City', 'Machu Picchu']

Alphabetical Order:
['Machu Picchu', 'New York City', 'Paris', 'Seoul', 'Tokyo']

Original Order (after sorted() without modification):
['Tokyo', 'Paris', 'Seoul', 'New York City', 'Machu Picchu']

Reverse Alphabetical Order:
['Tokyo', 'Seoul', 'Paris', 'New York City', 'Machu Picchu']

Changed Order (after reverse()):
['Machu Picchu', 'New York City', 'Seoul', 'Paris', 'Tokyo']

Original Order (after reverse() twice):
['Tokyo', 'Paris', 'Seoul', 'New York City', 'Machu Picchu']

Alphabetical Order (after sort()):
['Machu Picchu', 'New York City', 'Paris', 'Seoul', 'Tokyo']

Reverse Alphabetical Order (after sort(reverse=True)):
['Tokyo', 'Seoul', 'Paris', 'New York City', 'Machu Picchu']

In [ ]:
guest_list = ['Tokiya Mizoguchi', 'Keisuke Shimazaki', 'Aoi Inagaki', 'Nanami Tsuta', 'Caroline Lafon', 'Chole Baker']

guest_cant_make_it = 'Tokiya Mizoguchi'

guest_list.remove(guest_cant_make_it)
new_guest = 'Ai Kanzaki'
guest_list.append(new_guest)

print("Great news! I found a bigger table for dinner.")

guest_list.insert(0, 'Airi Sasaki')
guest_list.insert(len(guest_list) // 2, 'Miku Hatsune')
guest_list.append('Minami Minegishi')

while len(guest_list) > 2:
    removed_guest = guest_list.pop()
    print(f"Sorry, {removed_guest}, I can't invite you to dinner.")

num_invited = len(guest_list)
print(f"\nNumber of people invited to dinner: {num_invited}")

Great news! I found a bigger table for dinner.
Sorry, Minami Minegishi, I can't invite you to dinner.
Sorry, Ai Kanzaki, I can't invite you to dinner.
Sorry, Chole Baker, I can't invite you to dinner.
Sorry, Caroline Lafon, I can't invite you to dinner.
Sorry, Nanami Tsuta, I can't invite you to dinner.
Sorry, Miku Hatsune, I can't invite you to dinner.
Sorry, Aoi Inagaki, I can't invite you to dinner.

Number of people invited to dinner: 2

In [ ]:
countries = ["USA", "Canada", "France", "Japan", "Australia", "Brazil"]

print("Original List of Countries:")
print(countries)

countries.append("Spain")
print("\nAfter Appending 'Spain':")
print(countries)

countries.insert(2, "Germany")
print("\nAfter Inserting 'Germany' at Index 2:")
print(countries)

countries.remove("Canada")
print("\nAfter Removing 'Canada':")
print(countries)

removed_country = countries.pop(4)
print(f"\nRemoved Country at Index 4: {removed_country}")
print("Updated List:")
print(countries)

countries.sort()
print("\nSorted List:")
print(countries)

countries.reverse()
print("\nReversed List:")
print(countries)

index = countries.index("Japan")
print(f"\nIndex of 'Japan': {index}")

count = countries.count("USA")
print(f"\nNumber of 'USA' in the List: {count}")

copied_countries = countries.copy()
print("\nCopied List:")
print(copied_countries)

countries.clear()
print("\nCleared List:")
print(countries)

Original List of Countries:
['USA', 'Canada', 'France', 'Japan', 'Australia', 'Brazil']

After Appending 'Spain':
['USA', 'Canada', 'France', 'Japan', 'Australia', 'Brazil', 'Spain']

After Inserting 'Germany' at Index 2:
['USA', 'Canada', 'Germany', 'France', 'Japan', 'Australia', 'Brazil', 'Spain']

After Removing 'Canada':
['USA', 'Germany', 'France', 'Japan', 'Australia', 'Brazil', 'Spain']

Removed Country at Index 4: Australia
Updated List:
['USA', 'Germany', 'France', 'Japan', 'Brazil', 'Spain']

Sorted List:
['Brazil', 'France', 'Germany', 'Japan', 'Spain', 'USA']

Reversed List:
['USA', 'Spain', 'Japan', 'Germany', 'France', 'Brazil']

Index of 'Japan': 2

Number of 'USA' in the List: 1

Copied List:
['USA', 'Spain', 'Japan', 'Germany', 'France', 'Brazil']

Cleared List:
[]

Additional Questions

In [ ]:
for num in range(60, 86):
    if num % 7 == 0:
        cube = num ** 3
        print(f"The cube of {num} is {cube}")

The cube of 63 is 250047
The cube of 70 is 343000
The cube of 77 is 456533
The cube of 84 is 592704

In [ ]:
def calculate_y(x):
    return 7.4 * x + 51

x_values = [40, 50, 120, -8, 6]

for x in x_values:
    y = calculate_y(x)
    print(f"For x = {x}, y = {y}")

For x = 40, y = 347.0
For x = 50, y = 421.0
For x = 120, y = 939.0
For x = -8, y = -8.200000000000003
For x = 6, y = 95.4